h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

body {
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #AFC4CD;
  color: #fff;
  text-align: left;
}

.container-fluid {
  padding: 3% 10% 7%;
}

.navbar {
  padding: 0 0 3.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.btn {
  margin: 5% 3% 5% 0;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.title-image {
  width: 60%;
  right: 30%;
  transform: rotate(25deg);
  position: absolute;
}

@media(max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* feature-section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-box {
  padding: 5%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #AFC4CD;
}

/* Testimonials section */
#testimonials {
  font-family: 'Montserrat', sans-serif;
  background-color: #AFC4CD;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 15%;
  border-radius: 90%;
  margin: 20px;
}

/* Press section */
#press {
  background-color: #AFC4CD;
  padding: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-table {
  padding: 3% 2%;
}

/* Call to action section */
#cta {
  background-color: #AFC4CD;
  color: #fff;
}

.ctaText {
  padding: 5% 18% 0%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer section */
#footer {
  padding: 7%;
}

.footer-icon {
  padding: 20px 10px;
}
